<style>
  footer{
    background-color: #3B3B3B;
  }
  .footer-nav{
    display: flex;
    flex-direction: row;
    margin-left: 28%;
    margin-top: 20px;
  }
  .footer-text{
    color: #c5c5c5;
    text-decoration: none;
    margin-left: 50px;
  }
  .site-title{
    color: white;
    margin-left: 45%;
    margin-top: 20px;
  }
  .footer-social{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40%;
  }
 .social{
  margin-left: 65px;
  margin-bottom: 20px;
  font-size: 20px;
 }
</style>

  <footer>
     <a class="fa fa-home fa-lg  site-title" href="index.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>

    <div class="footer-nav">
      <a class="footer-text" href="#">Server World</a>
      <a class="footer-text" href="#">Other OS Configs</a>
      <a class="footer-text" href="#">Privacy Policy</a>
      <a class="footer-text" href="#">Support/Contact Us</a>
    </div>
    <div class="footer-social">
     <a href="{{site.facebook}}" target="_blank" rel="noopener noreferrer"> <i class=" social fab fa-facebook-f"></i></a>
      <a href="{{site.twitter}}" target="_blank" rel="noopener noreferrer"> <i class=" social fab fa-twitter"></i></a>
    </div>
  </footer>
