<style>
  footer{
    background-color: #3B3B3B;
    text-align: center;
  }
  .footer-nav{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 20px;
  }
  .footer-text{
    color: #c5c5c5;
    text-decoration: none;
    margin-left: 50px;
  }
  .site-title-footer{
    margin-top: 20px !important;
    margin-left: -65px;
    color: white;
    font-size: 30px;
  }
  .footer-social{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40%;
  }
 .social{
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 25px;
 }
</style>

  <footer>
            <a class="fa fa-home fa-lg navbar-brand site-title-footer" href="index.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>

    <div class="footer-nav">
      <a class="footer-text" href="#">Server World</a>
      <a class="footer-text" href="#">Other OS Configs</a>
      <a class="footer-text" href="#">Privacy Policy</a>
      <a class="footer-text" href="#">Support</a>
      <a class="footer-text" href="#">Contact Us</a>
    </div>
    <div class="footer-social">
     <a href="#" target="_blank" rel="noopener noreferrer"> <i class=" social fab fa-facebook-f"></i></a>
      <a href="#" target="_blank" rel="noopener noreferrer"> <i class=" social fab fa-twitter"></i></a>
    </div>
  </footer>
